kubernetes
streamlit
faiss-cpu
sentence-transformers
requests
python-dotenv
matplotlib
numpy
pandas
prometheus_client
tornado>=6.5 # not directly required, pinned by Snyk to avoid a vulnerability
transformers>=4.50.0 # not directly required, pinned by Snyk to avoid a vulnerability