kubernetes
streamlit
faiss-cpu
sentence-transformers
requests
python-dotenv
matplotlib
numpy
pandas
prometheus_client
filelock>=3.20.1 # not directly required, pinned by Snyk to avoid a vulnerability
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.5.3 # not directly required, pinned by Snyk to avoid a vulnerability