kubernetes
streamlit
faiss-cpu
sentence-transformers
requests
python-dotenv
matplotlib
numpy
pandas
prometheus_client
protobuf>=6.33.5 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability